.stamp-container {
    display: inline-block;
    width: calc(20% - 0.5rem);
    margin-bottom: 0.8rem;

    &:not(:nth-child(5n)) {
        margin-right: 0.5rem;
    }
    .stamp {
        position: relative;
        display: inline-block;
        border-radius: 50%;
        min-width: 20px;
        min-height: 20px;
        height: auto;
        border: 0.15rem solid var(--gray-90);
        padding: 0.5rem;
        background: var(--white);
        color: white;
        text-align: center;
        line-height: 1;
        box-sizing: content-box;
        white-space: nowrap;
        border-style: dashed;
        filter: grayscale(0.7);

        .icon-star {
            width: 2rem;
            height: 2rem;
            opacity: 0.5;

            .inside {
                stroke: var(--gray-70);
            }
        }

        .symbol {
            opacity: 1;
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            transform: translate(-50%, -50%);
            // color: var(--tertiary);
            font-size: 85%;
            font-weight: 600;
            letter-spacing: 0.05rem;
            color: var(--gray-60);
            background: var(--white);
            border-radius: var(--border-radius-small);
            padding: .1rem .2rem;
            // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            padding-top: 100%;
            height: 0;
        }

        &.active {
            opacity: 1;
            border-style: solid;
            filter: none;
        }

        img {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 100%;
        }
        &.active {
            border-color: var(--primary);

            .icon-star {
                opacity: 1;

                .inside {
                    fill: var(--primary);
                    stroke: var(--primary);
                }
            }

            .symbol {
                display: none;
            }
        }
    }
}
